<div class="container">
  <div class="row">
    <div class="col justify-content-center mt-5 mb-5">
      <div class="my-2 row mx-1">
        <input
          class="form-control mr-sm-2 my-search-bar"
          (input)="updateList()"
          type="text"
          [(ngModel)]="filterText"
          placeholder="Search"
        />
        <button
          type="button"
          class="btn btn-primary m-3"
          (click)="open(content)"
        >
          Add New Building
        </button>
      </div>
      <ul class="list-group" *ngFor="let building of filteredBuildings">
        <li
          class="list-group-item mb-2 list-item"
          routerLink="building-display"
          (click)="setBuilding(building)"
        >
          <a>{{ building.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Building</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-title mb-2">Building Title:</div>
    <div class="input-group mb-2">
      <textarea
        class="form-control"
        aria-label="With textarea"
        [(ngModel)]="newBuildingTitle"
      > {{ newBuildingTitle }} </textarea>
    </div>

    <div class="text-title mb-2">Building Subtitle:</div>
    <div class="input-group mb-2">
      <textarea
        class="form-control"
        aria-label="With textarea"
        [(ngModel)]="newBuildingSubTitle"
      > {{ newBuildingSubTitle }} </textarea>
    </div>

    <div class="text-title mb-2">Building Desc:</div>
    <div class="input-group mb-2">
      <textarea
        rows="3"
        class="form-control"
        aria-label="With textarea"
        [(ngModel)]="newBuildingDesc"
      > {{ newBuildingDesc }} </textarea>
    </div>

  <div class="row m-1">
    <div ngbDropdown >
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Building Type</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ul class="list-group" *ngFor="let type of buildingType">
          <li class="dropdown-item" (click)="setType(type)">{{type}}</li>
        </ul>
      </div>
    </div>
    <p class="m-2" style="font-size: 15px">{{newBuildingType}}</p>
  </div>

  <div class="text-title mb-2">Building Coordinates:</div>
    <div class="input-group mb-1">
        <input type="text" class="form-control" placeholder="Lat"  [(ngModel)]="newBuildingLat" (keypress)="calculateCoordinates()">
        <input type="text" class="form-control" placeholder="Long" [(ngModel)]="newBuildingLong" (keypress)="calculateCoordinates()">
      </div>

      <div class="text-title mb-2">Building Photo Url:</div>
      <div class="input-group mb-2">
        <textarea
          rows="2"
          class="form-control"
          aria-label="With textarea"
          [(ngModel)]="newBuildingPhoto"
        > {{ newBuildingPhoto }} </textarea>
      </div>


  </div>
  <div class="modal-footer">
   <div *ngIf="newBuildingLat !== undefined">
    <div *ngIf="newBuildingLong !== undefined">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addBuilding(); modal.dismiss('Cross click')"
    >
      Add Building
    </button>
  </div>
  </div>
    <p>{{ addedText }}</p>
  </div>
</ng-template>
