<div class="navbar-wrapper" *ngIf="dataPulled && profDataPulled">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a
      class="navbar-brand navbar-title"
      href="#"
      routerLink=""
      (click)="tabSelected = false"
      >CBU Admin</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="building-list" href="#">Buildings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="faculty-list" href="#">Faculty</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
